# -----------------------
# 🔧 PlatformIO/Arduino
# -----------------------
.pio/
.vscode/
build/
*.elf
*.map

# -----------------------
# 💻 Editor files
# -----------------------
*~
.#*
.\#*
.\#*.*

# -----------------------
# 🐍 Python
# -----------------------
__pycache__/
*.py[cod]

# -----------------------
# 🔁 Diff/Merge tools
# -----------------------
*.orig
*.rej

# -----------------------
# 🍏 macOS
# -----------------------
.DS_Store
